name: Building Docker Images

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - main
  workflow_dispatch:

jobs:

  build_f3d-ci:
    runs-on: ubuntu-latest
    steps:

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: ${{ github.ref == 'refs/heads/main' }}
        tags: ghcr.io/f3d-app/f3d-ci:latest
        context: ci

  build_f3d-wasm:
    runs-on: ubuntu-latest
    steps:

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: ${{ github.ref == 'refs/heads/main' }}
        tags: ghcr.io/f3d-app/f3d-wasm:latest
        context: webassembly
        build-args: |
          CMAKE_BUILD_PARALLEL_LEVEL=4
          ASSIMP_VERSION=v5.4.2
          DRACO_VERSION=1.5.7
          OCCT_VERSION=V7_8_1
          VTK_VERSION=6a898fd91da30d3ff903416bf856f0d1cea82cdf

  build_f3d-android:
    strategy:
      fail-fast: false
      matrix:
        arch: [armeabi-v7a, arm64-v8a, x86, x86_64]

    runs-on: ubuntu-latest
    steps:

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: ${{ github.ref == 'refs/heads/main' }}
        tags: ghcr.io/f3d-app/f3d-android-${{ matrix.arch }}:latest
        context: android
        build-args: |
          ANDROID_API=34
          ANDROID_ARCH=${{ matrix.arch }}
          ANDROID_NDK=r26b
          CMAKE_BUILD_PARALLEL_LEVEL=4
          ASSIMP_VERSION=v5.4.2
          VTK_VERSION=547c6d2d962f466ea1aa3f22b899576926a124f5

  build_f3d-superbuild-ci:
    runs-on: ubuntu-latest
    steps:

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push superbuild
      uses: docker/build-push-action@v6
      with:
        push: ${{ github.ref == 'refs/heads/main' }}
        tags: ghcr.io/f3d-app/f3d-superbuild-ci:latest
        context: superbuild

  build_f3d-wheels-manylinux-ci:
    runs-on: ubuntu-latest
    steps:

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}


    - name: Build and push wheels
      uses: docker/build-push-action@v6
      with:
        push: ${{ github.ref == 'refs/heads/main' }}
        tags: ghcr.io/f3d-app/f3d-wheels-manylinux-ci:latest
        context: wheels-manylinux
